.wtcon-icon-service-xs { background-image: url('service_16.png') !important; }
.wtcon-icon-service-s { background-image: url('service_24.png') !important; }
.wtcon-icon-service-m { background-image: url('service_32.png') !important; }
.wtcon-icon-service-l { background-image: url('service_48.png') !important; }
.wtcon-icon-category-xs { background-image: url('group_16.png') !important; }
.wtcon-icon-root-my-xs { background-image: url('root-my_16.png') !important; }
.wtcon-icon-root-incoming-xs { background-image: url('root-incoming_16.png') !important; }
.wtcon-icon-addCategory-xs { background-image: url('group-add_16.png') !important; }
.wtcon-icon-editCategory-xs { background-image: url('group-edit_16.png') !important; }
.wtcon-icon-deleteCategory-xs { background-image: url('group-delete_16.png') !important; }
.wtcon-icon-contact-xs { background-image: url('contact_16.png') !important; }
.wtcon-icon-contact-list-xs { background-image: url('contact-list_16.png') !important; }
.wtcon-icon-newContact-xs { background-image: url('contact-new_16.png') !important; }
.wtcon-icon-addContact-xs { background-image: url('contact-add_16.png') !important; }
.wtcon-icon-editContact-xs { background-image: url('contact-edit_16.png') !important; }
.wtcon-icon-deleteContact-xs { background-image: url('contact-delete_16.png') !important; }
.wtcon-trash-trigger { background-image: url('trash-trigger.png') !important; }
.wtcon-add-trigger { background-image: url('add-trigger.png') !important; }
