.wtcon-icon-service { background-image: url('service_16.svg') !important; background-size: contain; }
.wtcon-icon-service-xs { background-image: url('service_16.svg') !important; background-size: contain; }
.wtcon-icon-service-s { background-image: url('service_16.svg') !important; background-size: contain; }
.wtcon-icon-service-m { background-image: url('service_32.svg') !important; background-size: contain; }
.wtcon-icon-service-l { background-image: url('service_32.svg') !important; background-size: contain; }
.wtcon-icon-category { background-image: url('category_16.svg') !important; background-size: contain; }
.wtcon-icon-categoryMy { background-image: url('category-my_16.svg') !important; background-size: contain; }
.wtcon-icon-categoryIncoming { background-image: url('category-incoming_16.svg') !important; background-size: contain; }
.wtcon-icon-categoryRemote { background-image: url('category-remote_16.svg') !important; background-size: contain; }
.wtcon-icon-addCategory { background-image: url('category-add_16.svg') !important; background-size: contain; }
.wtcon-icon-editCategory { background-image: url('category-edit_16.svg') !important; background-size: contain; }
.wtcon-icon-deleteCategory { background-image: url('category-delete_16.svg') !important; background-size: contain; }
.wtcon-icon-contact { background-image: url('contact_16.svg') !important; background-size: contain; }
.wtcon-icon-contactsList { background-image: url('contacts-list_16.svg') !important; background-size: contain; }
.wtcon-icon-newContact { background-image: url('contact-new_16.svg') !important; background-size: contain; }
.wtcon-icon-newContactsList { background-image: url('contacts-list-new_16.svg') !important; background-size: contain; }
.wtcon-icon-addContact { background-image: url('contact-add_16.svg') !important; background-size: contain; }
.wtcon-icon-addContactsList { background-image: url('contacts-list-add_16.svg') !important; background-size: contain; }
.wtcon-icon-import { background-image: url('import_16.svg') !important; background-size: contain; }
.wtcon-icon-writeMessage { background-image: url('message-new_16.svg') !important; background-size: contain; }
.wtcon-icon-reminder-birthday { background-image: url('birthday_16.png') !important; background-size: contain; }
.wtcon-icon-reminder-anniversary { background-image: url('anniversary_16.png') !important; background-size: contain; }
.wtcon-icon-mailchimp { background-image: url('mailchimp-freddie-icon.svg') !important; background-size: contain; }
.wtcon-trash-trigger { background-image: url('trash-trigger.png') !important; }
.wtcon-trash-trigger-touch { background-image: url('trash-trigger-touch.png') !important; }
.wtcon-add-trigger { background-image: url('add-trigger.png') !important; }
.wtcon-add-trigger-touch { background-image: url('add-trigger-touch.png') !important; }

.wtcon-icon-viewHome { background-image: url('view-home-grayed_16.svg') !important; background-size: contain; }
.x-btn-pressed .wtcon-icon-viewHome { background-image: url('view-home_16.svg') !important; }
.wtcon-icon-viewWork { background-image: url('view-work-grayed_16.svg') !important; background-size: contain; }
.x-btn-pressed .wtcon-icon-viewWork { background-image: url('view-work_16.svg') !important; }

.wtcon-gpcontacts .x-grid-empty { text-align: center; }
.wtcon-gpcontacts .x-grid-group-hd {
	background-color: #eff6fb;
}
.wtcon-gpcontacts .wtcon-group-letter {
	padding-left: 10px;
	font-weight: bold;
	font-size: 1.5em;
	line-height: calc(100% + 0.2em);
}
.wtcon-gpcontacts .wtcon-cell-caption {
	padding-top: 3px;
	font-size: 0.9em;
	color: #888;
}

/* --- UX grid.column.Contact --- */
.wtcon-contactcolumn-head {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wtcon-contactcolumn-head > span {
	vertical-align: top;
	color: #767676;
	font-size: 0.9em;
}
.wtcon-contactcolumn-body {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 5px;
}
.wtcon-contactcolumn-body > span {
	color: #767676;
	font-size: 0.9em;
}
.wtcon-contactcolumn-body-float {
	display: inline-block;
	float: right;
	margin-top: 5px;
}
.wtcon-contactcolumn-glyph {
	display: inline-block;
	margin: 0 0 0 2px;
	text-align: center;
}
/* ------------------------------ */
