.wtcon-icon-service { background-image: url('service_16.svg') !important; background-size: contain; }
.wtcon-icon-service-xs { background-image: url('service_16.svg') !important; background-size: contain; }
.wtcon-icon-service-s { background-image: url('service_16.svg') !important; background-size: contain; }
.wtcon-icon-service-m { background-image: url('service_16.svg') !important; background-size: contain; }
.wtcon-icon-service-l { background-image: url('service_16.svg') !important; background-size: contain; }
.wtcon-icon-category { background-image: url('category_16.svg') !important; background-size: contain; }
.wtcon-icon-category-my { background-image: url('category-my_16.svg') !important; background-size: contain; }
.wtcon-icon-category-incoming { background-image: url('category-incoming_16.svg') !important; background-size: contain; }
.wtcon-icon-category-remote { background-image: url('category-remote_16.svg') !important; background-size: contain; }
.wtcon-icon-addCategory { background-image: url('category-add_16.svg') !important; background-size: contain; }
.wtcon-icon-editCategory { background-image: url('category-edit_16.svg') !important; background-size: contain; }
.wtcon-icon-deleteCategory { background-image: url('category-delete_16.svg') !important; background-size: contain; }
.wtcon-icon-contact { background-image: url('contact_16.svg') !important; background-size: contain; }
.wtcon-icon-contactsList { background-image: url('contacts-list_16.svg') !important; background-size: contain; }
.wtcon-icon-newContact { background-image: url('contact-new_16.svg') !important; background-size: contain; }
.wtcon-icon-newContactsList { background-image: url('contacts-list-new_16.svg') !important; background-size: contain; }
.wtcon-icon-addContact { background-image: url('contact-add_16.svg') !important; background-size: contain; }
.wtcon-icon-addContactsList { background-image: url('contacts-list-add_16.svg') !important; background-size: contain; }
.wtcon-icon-import { background-image: url('import_16.svg') !important; background-size: contain; }
.wtcon-icon-reminder-birthday { background-image: url('birthday_16.png') !important; background-size: contain; }
.wtcon-icon-reminder-anniversary { background-image: url('anniversary_16.png') !important; background-size: contain; }
.wtcon-trash-trigger { background-image: url('trash-trigger.png') !important; }
.wtcon-add-trigger { background-image: url('add-trigger.png') !important; }
